.intro-section {
    display: flex;
    padding: 80px;
    background-color: var(--color-light-skyblue);
    position: relative;
    border-bottom: 1px solid var(--color-bluegrey);
}

.text-content {
    flex: 1;
    max-width: 65%;
}

.text-content h1 {
    font-size: 2.5em;
    line-height: 1.3;
    letter-spacing: 4px;
    color: var(--color-darkest-navy);
    margin: 50px 0 20px 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* 검은색 그림자 */
}

.text-content p {
    font-size: 1.1em;
    line-height: 1.6;
    color: var(--color-darker-bluegrey);
    margin: 20px;
}

.intro-image {
    flex: 0.8;
    max-width: 35%;
    display: flex;
    justify-content: left; /* 수평 방향 정렬 */
    align-items: end; /* 수직 방향 정렬 */
    margin-bottom: 20px;
}

.intro-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: 20px;
}

.instagram-link {
    position: absolute;
    bottom: 20px;
    right: 40px;
}

.instagram-link img {
    width: 25px;
    height: 25px;
    margin: 0 6px;
}

.instagram-link a {
    display: inline-flex;
    align-items: center;
    font-size: 0.8em;
    font-weight: bold;
    color: #723AB9;
    text-decoration: none;
}

.instagram-link a:hover {
    color: #E94657;
}

@media (max-width: 768px) {
    .intro-section {
        padding: 60px 40px;
    }

    .text-content {
        max-width: 62%;
    }

    .text-content h1 {
        font-size: 2em;
        margin: 20px 0 20px 10px;
    }

    .text-content p {
        font-size: 1em;
        margin: 10px 20px 10px 10px;
    }

    .intro-image {
        max-width: 30%;
    }
}

.intro-card {
    background: var(--color-white);
    padding: 40px;
    margin: 60px auto 30px auto;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 35em;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
}

.intro-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.intro-card-text {
    flex: 1;
    margin: auto 0;
}

.intro-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: var(--color-darkest-bluegrey);
}

.intro-card p {
    font-size: 1em;
    line-height: 1.3em;
    color: var(--color-dark-bluegrey);
    margin-bottom: 10px;
}

.intro-card img {
    max-width: 50%;
    margin: 0;
}

.bahrom-logo {
    flex: 0.5;
    display: flex; /* Flexbox 활성화 */
    flex-direction: column; /* 수직 방향 나열 */
    align-items: center; /* 수평 방향 중앙 정렬 */
    gap: 10px; /* 요소 간 간격 */
}

.more-info {
    text-decoration: none;
    margin-top: 30px;
}
