/* 인트로 섹선 */
.intro-section {
    background-color: var(--color-light-skyblue);
    padding: 20px 30px 40px 30px;
}

.intro-section h1 {
    color: var(--color-darkest-navy);
    text-shadow: 
    -1px -1px 0 var(--color-white), /* 왼쪽 위 */
    1px -1px 0 var(--color-white),  /* 오른쪽 위 */
    -1px 1px 0 var(--color-white),  /* 왼쪽 아래 */
    1px 1px 0 var(--color-white);   /* 오른쪽 아래 */
}

.intro-section p {
    color: var(--color-darkest-bluegrey);
    font-size: 16px;
    line-height: 22px;
}

.intro-image-section {
    display: flex;
    justify-content: center;
}  

.intro-section img {
    max-width: 200px;
    margin-top: 20px;
}

@media (min-width: 769px) {
    .intro-inner-section {
        display: flex;
        justify-content: space-around;
        max-width: 800px;
        margin: 0 auto;
    }
}

/* 인스타그램 링크 섹션 */
.instagram-link-section {
    display: flex;
    align-items: center; /* 세로 방향 중앙 정렬 */
    justify-content: center; /* 가로 방향 중앙 정렬 */
    background: var(--color-white);
    border-bottom: 0.5px solid var(--color-bluegrey);
}

.instagram-link-section a {
    padding: 30px 0;
    text-align: center;
    color: var(--color-darkest-bluegrey);
    text-decoration: none;
    font-weight: bold;
}

.instagram-link-section a:hover {
    color: var(--color-dark-navy)
}

.instagram-link-section img {
    width: 20px;
    vertical-align: middle;
    padding-right: 5px;
}

/* 설명 카드 섹션 */
.description-section {
    display: flex;
    justify-content: center; /* 가로 방향 중앙 정렬 */
    padding: 40px;
    border-bottom: 0.5px solid var(--color-bluegrey);
}

.description-section h3 {
    color: var(--color-darkest-navy);
}

.description-section p {
    color: var(--color-darker-bluegrey);
    font-size: 16px;
    line-height: 22px;
}

a#more-info {
    color: var(--color-dark-navy);
    text-decoration: none;
}

@media (min-width: 769px) {
    .description-inner-section {
        display: flex;
        justify-content: space-around;
        max-width: 800px;
    }
}

/* 설명 카드 섹션 1 */
#ethical-consumption {
    background-color: var(--color-light-bluegrey);
}

#ethical-consumption img {
    width: 110px;
    height: 120px;
}

@media (min-width: 769px) {
    #ethical-consumption img {
        width: 156px;
        height: 170px;
        margin-right: 40px;
    }
}

/* 설명 카드 섹션 2 */
#bahrom-project {
    background-color: var(--color-white);
}

.description-img-section {
    display: flex;
    justify-content: space-between;
}

#bahrom-project .mobile-title img {
    width: 64px;
    margin-right: 20px;
}

@media (min-width: 769px) {
    #bahrom-project .desktop-title img {
        width: 150px;
        margin-left: 40px;
    }
}

