.container {
    max-width: 95%;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: grid;
    place-items: center;
}

@media (min-width: 768px) {
    .container {
        max-width: 800px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

h2 {
    margin-top: 2.5em;
}

.parent-container {
    padding: 0 5em;
}

.project-header p {
    text-align: center;
    margin-bottom: 5.5em;
}

form {
    margin-top: 20px;
    /* max-width: 20em; */
}

form label {
    display: block;
    margin-top: 1em;
    color: #666;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 0.5em 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}
