:root {
    --color-white: #ffffff;
    --color-light-skyblue: #B7E8FD;
    --color-skyblue: #4FC1FB;
    --color-light-bluegrey: #e8eef1;
    --color-bluegrey: #BACBD2;
    --color-dark-bluegrey: #7D9BA7;
    --color-darker-bluegrey: #486D7D;
    --color-darkest-bluegrey: #224452;
    --color-dark-navy: #3A4DA8;
    --color-darker-navy: #2c3a7e;
    --color-darkest-navy: #141a3a;
    --color-pink: #fcb6e1;
    --color-dark-pink: #fc78c9;
    --color-apricot: #f9dfbf;
    --color-dark-apricot: #e0c6a8;
    --color-darker-apricot: #b9a082;
    --color-darkest-apricot: #8b765d;
}

/* 화면이 768px 이하일 때 (모바일 환경) */
@media (max-width: 768px) {
    .desktop-title {
        display: none; /* 데스크톱용 제목 숨김 */
    }

    .mobile-title {
        display: block; /* 모바일용 제목 표시 */
    }
}

/* 화면이 769px 이상일 때 (데스크톱 환경) */
@media (min-width: 769px) {
    .desktop-title {
        display: block; /* 데스크톱용 제목 표시 */
    }
    
    .mobile-title {
        display: none; /* 모바일용 제목 숨김 */
    }
}

body {
    font-family: 'Arial', sans-serif;
    color: var(--color-darkest-navy);
    background-color: var(--color-light-bluegrey);
    margin: 0;
    padding: 0;
}

/* 헤더 스타일 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: var(--color-white);
    border-bottom: 0.5px solid var(--color-bluegrey);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: -0.5px;
    line-height: 20px;
    font-weight: bold;
    color: var(--color-darkest-navy);
}

#menu-toggle {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 10px
}

#menu-toggle img {
    width: 20px;
    height: 20px;
}

.menu-icon, .close-icon {
    cursor: pointer;
}

.nav {
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    background-color: var(--color-white);
    padding: 0;
    flex-direction: column;
    border: 0.5px solid var(--color-bluegrey);
    width: 100%;
}

.nav.active {
    display: flex;
}

#nav-menu {
    height: 1000%;
}

.nav-menu-wrapper {
    border-bottom: 0.5px solid var(--color-bluegrey);
    padding: 23px 24px;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-darkest-navy);
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
    font-weight: bold;
}

.greeting {
    text-align: center;
    color: var(--color-dark-pink);
    font-size: 16px;
    font-weight: bold;
    margin: 60px 0 40px;
}

.nav-button-wrapper {
    width: 340px;
    height: 48px;
    border: 2px solid var(--color-skyblue);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logout-btn {
    background: var(--color-white);
    margin: 0 auto;
}

#login-btn {
    background: var(--color-skyblue);
    margin: 60px auto 240px;
}

.nav-button {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

#logout-btn a {
    color: var(--color-skyblue);
}

#login-btn a {
    color: var(--color-white);
}

@media (min-width: 769px) {
    .header {
        padding: 16px 32px;
    }

    .logo a {
        font-size: 19px;
    }

    .nav {
        gap: 15px;
    }

    .nav-link {
        font-size: 16px;
        padding: 10px 15px;
    }
}

/* 풋터 스타일 */
.footer {
    background-color: var(--color-bluegrey);
    padding: 64px 0;
    text-align: center;
    font-size: 0.9em;
    line-height: 1.5;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-links a {
    color: var(--color-darker-bluegrey);
    text-decoration: none;
    font-weight: bold;
    letter-spacing: -0.5px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: var(--color-darkest-bluegrey);
}

.footer-info {
    margin-top: 48px;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.5px;
}

.class-info {
    color: var(--color-darker-bluegrey);
}

.school-info, .email-info {
    color: var(--color-dark-bluegrey);
}