:root {
    --color-white: #ffffff;
    --color-light-skyblue: #B7E8FD;
    --color-skyblue: #4FC1FB;
    --color-light-bluegrey: #e8eef1;
    --color-bluegrey: #BACBD2;
    --color-dark-bluegrey: #7D9BA7;
    --color-darker-bluegrey: #486D7D;
    --color-darkest-bluegrey: #224452;
    --color-dark-navy: #3A4DA8;
    --color-darker-navy: #2c3a7e;
    --color-darkest-navy: #141a3a;
    --color-pink: #fcb6e1;
    --color-apricot: #f9dfbf;
    --color-dark-apricot: #e0c6a8;
    --color-darker-apricot: #b9a082;
    --color-darkest-apricot: #8b765d;
}

/* 기본적인 body 스타일 */
body {
    font-family: 'Arial', sans-serif;
    color: var(--color-darkest-navy);
    background-color: var(--color-light-bluegrey);
    margin: 0;
    padding: 0;
}

/* 헤더 스타일 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: var(--color-white);
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    position: sticky; /* 상단 고정 */
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo span {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--color-darkest-navy);
}

.nav {
    display: flex;
    gap: 15px;
}

.nav-link {
    text-decoration: none;
    color: var(--color-darkest-navy);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: var(--color-light-bluegrey);
    color: var(--color-darkest-navy);
}
