<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="여행에서 윤리적 소비를 실천하며 공정한 관광 구조 형성에 기여합시다!">
    <meta property="og:title" content="여행에서의 윤리적 소비">
    <meta property="og:description" content="윤리적 소비와 지속 가능한 여행을 위한 프로젝트를 확인해 보세요.">
    <meta property="og:image" content="{{ url_for('static', filename='images/swu/thinkbear_head.png') }}">
    <meta property="og:url" content="{{ request.url }}">
    <meta name="twitter:card" content="summary_large_image">
    <title>{% block title %}여행에서의 윤리적 소비{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/swu/thinkbear_head.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?v=1">
    {% block head %}{% endblock %}
    {% block styles %}{% endblock %}
</head>

<body>
    <div class="header">
        <div class="logo">
            <a href="/">
                <img src="{{ url_for('static', filename='images/swu/main_logo_2.png') }}" alt="Logo">
                <span class="desktop-title">여행에서의 윤리적 소비</span>
                <span class="mobile-title">여행에서의<br>윤리적 소비</span>
            </a>
        </div>

        <!-- 메뉴 버튼 -->
        <button id="menu-toggle">
            <img id="menu-icon" src="{{ url_for('static', filename='images/flat_icon/menu-darkest-navy.png') }}" 
                alt="Menu" 
                data-menu="{{ url_for('static', filename='images/flat_icon/menu-darkest-navy.png') }}"
                data-close="{{ url_for('static', filename='images/flat_icon/close-darkest-navy.png') }}">
        </button>

        <!-- 하위 메뉴 항목 -->
        <nav id="nav-menu" class="nav">
            <div class="nav-menu-wrapper">
                <a class="nav-link" href="/about">팀 소개</a>
            </div>
            <div class="nav-menu-wrapper">
                <a class="nav-link" href="/checklist">체크리스트</a>
            </div>
            <div class="nav-menu-wrapper">
                <a class="nav-link" href="/ethical-consumption">실천 방법</a>
            </div>
            <div class="nav-menu-wrapper">
                <a class="nav-link" href="/budget">윤리 가계부</a>
            </div>
            <div class="nav-menu-wrapper">
                <a id="chatbot-btn" class="nav-link" href="/chatbot">소비 챗봇</a>
            </div>
            {% if user_data %}
            <p class="greeting">{{ user_data.username }} 님, 환영합니다!</p>
            <div id="logout-btn" class="nav-button-wrapper">
                <a class="nav-button" href="/logout">로그아웃</a>
            </div>
            {% else %}
            <div id="login-btn" class="nav-button-wrapper">
                <a class="nav-button" href="/login">로그인</a>
            </div>
            {% endif %}
        </nav>
    </div>

    <div class="base-container">
        {% block content %}{% endblock %}
    </div>

    <footer class="footer">
        <div class="footer-links">
            <a href="https://www.youtube.com/user/seoulwomensuniv" target="_blank">서울여대 유튜브</a>
            <a href="https://bahrom.swu.ac.kr/" target="_blank">바롬인성교육부</a>
            <a href="https://instagram.com/when.u.trip" target="_blank">팀 인스타그램</a>
        </div>
        <div class="footer-info">
            <p class="class-info">서울여자대학교 2024년 2학기 바롬종합설계프로젝트<br>"여행갈때생각해조"</p>
            <p class="school-info">01797 서울시 노원구 화랑로 621 서울여자대학교<br>Copyright © 2024 SWU "When U Trip"</p>
            <p class="email-info">문의 hxchaeny@swu.ac.kr</p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/base_script.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
