{% extends "base.html" %}

{% block title %}여행에서의 윤리적 소비 - 여행 가계부{% endblock %}

{% block content %}
<!-- 인트로 섹션 -->
<div class="intro-section">
    <h1>여행 가계부</h1>
    <img src="{{ url_for('static', filename='images/swu/thinkbear_money.png') }}" alt="메인 이미지">
</div>

<!-- 여행 추가하기 섹션 -->
<div class="add-travel-section">
    <button id="add-travel">
        새로운 여행 1
        <img src="{{ url_for('static', filename='images/flat_icon/down-darkest-navy.png') }}" alt="인스타그램 로고">
    </button>
</div>

<!-- 로그인 섹션 -->
<div class="login-section">
    <button id="login" onclick="location.href='/login'">로그인하기</button>
</div>

<style>
    /* 인트로 섹선 */
    .intro-section {
        display: flex;
        justify-content: space-between;
        background-color: var(--color-skyblue);
        padding: 30px;
        border-bottom: 0.5px solid var(--color-bluegrey);
    }

    h1 {
        font-size: 32px;
        padding: 10px 0 20px 4px;
        margin: 0;
        color: var(--color-white);
        text-shadow: 
            -1px -1px 0 var(--color-darker-bluegrey), /* 왼쪽 위 */
            1px -1px 0 var(--color-darker-bluegrey),  /* 오른쪽 위 */
            -1px 1px 0 var(--color-darker-bluegrey),  /* 왼쪽 아래 */
            1px 1px 0 var(--color-darker-bluegrey);   /* 오른쪽 아래 */
    }

    .intro-section img {
        width: 150px;
    }

    /* 여행 추가하기 섹션 */
    .add-travel-section {
        display: flex;
        align-items: center; /* 세로 방향 중앙 정렬 */
        justify-content: center; /* 가로 방향 중앙 정렬 */
        background: var(--color-white);
        border-bottom: 0.5px solid var(--color-bluegrey);
    }

    #add-travel {
        padding: 30px 0;
        text-align: center;
        color: var(--color-darkest-bluegrey);
        text-decoration: none;
        border: none;
        background: none;
        font-size: 20px;
    }

    .add-travel-section img {
        width: 24px;
        vertical-align: middle;
        padding-left: 5px;
    }

    /* 로그인 섹션 */
    .login-section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;
        border-bottom: 0.5px solid var(--color-bluegrey);   
    }
</style>
{% endblock %}
