{% extends "base.html" %}

{% block title %}여행에서의 윤리적 소비 - 소비 챗봇{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chatbot.css') }}">
{% endblock %}

{% block content %}
<div class="intro-section">
    <h1 class="chat-title">소비 챗봇</h1>
</div>
<div class="chat-section">
    <!-- 대화 내용이 여기에 추가됩니다 -->
    <div class="chat-window bot-message">
        <img src="{{ url_for('static', filename='images/swu/thinkbear_head.png') }}" alt="띵곰이" class="bot-icon">
        <div class="chat-inner-window">
            <div class="chat-message">
                안녕? 나는 {{ user_data.username }}의 윤리적 소비를 도우러 온 띵곰이야.
            </div>
            <div class="chat-message">
                소비와 관련해서 궁금한게 있다면 뭐든 답해줄게!
            </div>
        </div>
    </div>
</div>
<div class="chat-input-section">
    <div class="chat-input-inner-section">
        <input type="text" id="chat-input" placeholder="메시지를 입력하세요">
        <button id="chat-send-button">
            <img src="{{ url_for('static', filename='images/flat_icon/send.png') }}" alt="전송">    
        </button>
    </div>    
</div>
{% endblock %}

{% block footer %}
<!-- 이 블록을 비워서 footer를 제거합니다 -->
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/chatbot.js') }}"></script>
{% endblock %}
